<div class="login-register">
    <div class="login-register-box error-card text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">Página no encontrada!</h3>
        <p class="text-muted m-t-30 m-b-30">Lo sentimos, pero esta página no está disponible.</p>
        <a mat-raised-button color="primary" [routerLink]="['/']"
           class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Volver a Dashboard</a>
    </div>
</div>
