<p>prueba2-pagina1 works!</p>
<ul>
    <li *ngFor="let tipoElemento of listaTipoElementos">{{tipoElemento.nombreTipoElemento}}</li>
</ul>
<!-- Prime NG -->
<p-messages [(value)]="msgs1"></p-messages>
