<div class="login-register">
    <div class="login-register-box error-card text-center">
        <h1>403</h1>
        <h3 class="text-uppercase">Acceso denegado/prohibido!</h3>
        <p class="text-muted m-t-30 m-b-30">Lo sentimos, usted no tiene permisos para acceder a la página.</p>
        <a mat-raised-button color="primary" [routerLink]="['/']"
           class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Volver a Dashboard</a>
    </div>
</div>
